.DS_STORE
docs/MySystemDesign_whatsapp.pptx
docs/MySystemDesign_twitter.pptx
docs/MySystemDesign_youtube.pptx
docs/MySystemDesign_uber.pptx
docs/MySystemDesign_ryanair.pptx
docs/MySystemDesign_amazon.pptx