.DS_STORE
docs/MySystemDesign_whatsapp.pptx
docs/MySystemDesign_twitter.pptx
docs/MySystemDesign_youtube.pptx
docs/MySystemDesign_uber.pptx
docs/MySystemDesign_ryanair_or_hotelBooking.pptx
docs/MySystemDesign_amazon.pptx
docs/MySystemDesign_meetingRoomBooking.pptx
